* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  border: 0px;
  padding: 0;
  margin: 0;
  border-collapse: collapse;
  float: left;
}
#indexBackgroundImage{
  position: fixed;
  width: 100%;
  height: 100vh;
  background-image: url("../media/pictures/background-trap.jpg");
  z-index: -1;
  background-size: cover;
}
#wrapperLogin{
  display: none;
  position: absolute;
  background: green;
  width: 100%;
  margin-top: 20vh;

}
